# =========================
# Logisim backup files
# =========================

*.bak
*.circ.bak
*~

# =========================
# Temporary files
# =========================

*.tmp
*.temp
*.swp

# =========================
# Logs
# =========================

*.log

# =========================
# IDE files
# =========================

.idea/
.vscode/
*.iml

# =========================
# Operating system files
# =========================

.DS_Store
Thumbs.db
desktop.ini

# =========================
# Java runtime files
# =========================

*.class

# =========================
# Archives
# =========================

*.zip
*.rar
*.7z
